meta
{
  display: none;
}

header
{
  background-color:#474747;
  padding-bottom:1%
}

body
{
  margin: 0%;
  background-color:rgba(15, 124, 126, 0.77)
}
.logo
{
  max-width:8%;
}


li
{
  display: inline;
  background-color: #474747;
  padding-right: 0.6%;
  font-size: larger;
  margin-left: 6%;
  margin-right: 2.9%;
  font-size:110%;
  font-family:'Roboto',sans-serif;

}

li:hover
{
  background-color:#393939
}

a
{
  text-decoration: none;
  color:white;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0%;
    margin: 0%;
    list-style: none;
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;

}
#menu-deroulant ul #deroulant {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    margin-left:0%;
    margin-right:-30%

}
#menu-deroulant .deroul{
    text-decoration: none;
    display: block;
	  color:white;
    font-size:90%;
    text-align: center;
    padding-bottom: 15%;
    padding-top:15%;

}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -300%;
    text-align: left;
    z-index: 1000%;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;

}


.insta
{
  max-width: 5%;
  margin-left: 9%;
}

.img_bg
{
  padding-top:23%;
  background-image: url(accueil.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:-2.4%
}

.titre{
  text-align:left;
  font-size:300%;
  font-family: 'Roboto',sans-serif;
  margin-left:3%
}

.reser{
  margin:2%;
  margin-top:-1%;
  text-align:left;
  font-size:large;
  font-family: "Roboto",sans-serif;
  padding-left:1%
}

.reser a{
  text-decoration: underline;
}

.reser a:hover{
  background-color: rgb(16, 131, 119)
}

.one
{
  background-color: white;
  margin : 2.5%;
  border-top-left-radius:  18px;
  border-top-right-radius: 18px;
  padding-bottom:3% ;
  font-family:'Roboto',sans-serif;


}

.two
{
  background-color: white;
  margin : 2.5%;
  border : solid white 1px ;
  padding:1%;
  font-family:'Roboto',sans-serif;

}

.fin
{
  background-color: white;
  margin :2.5%;
  border : solid white 1px ;
  padding:1%  ;
  border-bottom-left-radius:18px;
  border-bottom-right-radius:18px;
  font-family:'Roboto',sans-serif;
}

.chambre{
  border: 1px solid white;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  background-color: white;
  font-size: 115%;
}

.chambre1{
  text-align: left;
  margin-right:30%;



}

.img_chambre1{
  max-width: 30%;
  float: right;
  margin-top:-5%;
  margin-left:4%;
  border-radius: 18px
}





footer
{

  background-color: #474747
}

.basdepage{
  padding-bottom:1%
}

.instabdp
{
  max-width: 4%;
  float: right;
  margin-top: -6%
}


.logobdp
{
  max-width: 6%
}

.txtbdp{
  text-align: center;
  margin-top:-3%;
  margin-bottom:0%;
  padding-bottom:0%;
  font-family: "Roboto",sans-serif;
}

.txtbdp1{
  text-align: center;
  font-family: "Roboto",sans-serif;
}

.hypertxt{
  margin-right: 2%;
  margin-left: 2%;
  color:black;
  margin-top: -6%
}
